/* TODO Color Scheme, Fonts, Mobile Optimized */


body {
    /* color: white; */
    background-color: rgb(182, 184, 185);
    margin: auto;
    padding: auto;
    text-align: center;
}
#assignment-portal {
   background-color: rgb(80, 80, 245);
   color: white; 
   padding: 0.25em;
   margin: 1em;
    
}

ul {
    text-decoration: none;
    list-style: none;
}



