@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');
/* ------------------------------- */
/* STATIC/ALL PAGES */

/* FONT/ALIGNMENT */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 10px;
    margin: auto;
}

h1 {
    font-size: 50px;
    color: black;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

p, span, a, li, button, label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

p, span {
    margin: 1.5em;
}

.warning, .warning a {
    font-size: 16pt;
    font-weight: bold;
    color: red;
}

.emphasized-text {
    font-size: 18px;
    font-weight: bold;
}

nav > ul > li > a {
    margin: 0;
} 

.width-wrapper {
    max-width: 1000px;
    text-align: left;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.reverse-wrap {
    flex-direction: row-reverse;
}

img {
    margin: auto;
    padding: 1.5em;
    max-width: 500px;
    width: 80%;
    height: auto;
}

button {
    background-color: #00b9d3;
    padding: 1em;
    border: none;
    border-radius: 5px;
    margin: 5px auto;    
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


button:hover {
    background-color: white;
    border: #00b9d3 solid 2px;    
    color: #00b9d3;
}

#mapImage {    
    width: 90%;
    height: auto;
    margin: 0;
}

/* COLOR */
.row {
    background-color: white;
    padding: 50px 0;
    text-align: center;
}

.ligrayRow {
    background-color: lightgray;
    width: 100%;
}

.blueRow {
    background-color: #00b9d3;
    color: black;
    width: 100%;
}

.blueRow p {
    color: white;
}

.footer {
    border-top: 2px white solid;
}

/* HEADER */
header {
    background-color: #00b9d3;
}


#temple-logo {
    height: 100px;
    width: auto;
    width: auto;
    display: block;
    margin: auto;
}

/* NAVBAR */
.active-page {
	background-color: #bbb;
	color: #36454f;
}

nav ul li a:hover {
	background-color: #bbb;
	color: #36454f;
}

.navigation {
	list-style: none;
    padding: 0;
    margin: 0px
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
    display: block;
    font-size: 20px;
	padding: 0.75rem;
	text-align: left;
    text-decoration: none;
    border: 1px solid gray;
	
}

.responsive li {
	display: block;
}




/* ------------------------------- */
/* TEMPLES PAGE STYLING */
/* #templesPage {
    word-wrap: break-word;
} */

#templesPage .row .flexSection {
    display: flex;
    flex-direction: row;
}

.flexSection {
    max-width: 1000px;
    margin: auto;
}

#templesPage .row:nth-of-type(odd) {
    background-color: lightgray;
}

#templesPage .row:nth-of-type(odd) .flexSection{
    flex-direction: row-reverse;
}


#templesPage ul {
    list-style: none;
    padding-left: 0;
}

#templesPage img {
    margin: 0 20px;
}

.noticeText {
    width: 450px;
    margin: auto;
    font-weight: bold;
}

/* ------------------------------------- */
/* RESERVATION PAGE */
#templeReservation {
    display: flex;
    flex-direction: column;
}
.form-item {
    padding: 10px;
}

form {
    margin: auto;
    max-width: 500px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 1em;
}

.form-item p {
    margin: 0;
}

.form-item input {
    display: block;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

/* --------------------------------- */
/* CONTACT PAGE */
#contactUs button {
    margin-left: 10px;
}

/* ------------------------------- */
/* MEDIA QUERIES */

/* MEDIUM */
@media (min-width: 720px) {
    /* NAV */
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }

    /* HEADER */
    #temple-logo {
        display: inline;
        position: absolute;
        right: 25px;
        top: 0;
    }

    h1 {
        display: inline;
    }

    .width-wrapper {
        flex-wrap: nowrap;
    }

}



/* LARGE */
@media (min-width: 975px) {
    .width-wrapper {
        flex-direction: row;
    }
}
